<section class="modal-box" data-role="modal-content">
    <div class="gridle-row">
        <div class="gridle-gr-12 font-centered">
            <h3 class="modal-box__title">Enviar por correo</h3>
            <figure class="modal-box__icon">
                <i class="icon-elem icon-elem--check"></i>
            </figure>
            <h4 class="modal-box__title modal-box__title--big">¡Página compartida exitosamente!</h4>
            <div class="common-box__excerpt">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere harum sapiente a, quidem aperiam dolor placeat sequi iure neque corporis ipsa debitis deleniti earum aut tempore ut, illum ducimus molestiae!</p>
            </div>
            <div class="button__holder">
                <a href="#" class="button button--full" data-role="modal-btn">Aceptar</a>
            </div>
        </div>
    </div>
</section>