<section class="modal-box" data-role="modal-content">
	<div class="modal-box__row">
        <h3 class="modal-box__title">Temas destacados</h3>
        <ul class="modal-box__list">
            <li class="modal-box__list__item">
                <a href="#" title="title">Educación</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Política</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Salud</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
        </ul>
    </div>
    <div class="modal-box__row">
        <h3 class="modal-box__title">Temas destacados</h3>
        <ul class="modal-box__list">
            <li class="modal-box__list__item">
                <a href="#" title="title">Educación</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Política</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Salud</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Educación</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Política</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Salud</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
        </ul>
    </div>
    <div class="modal-box__row">
        <h3 class="modal-box__title">Temas destacados</h3>
        <ul class="modal-box__list">
            <li class="modal-box__list__item">
                <a href="#" title="title">Educación</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Política</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Salud</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Educación</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Política</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Salud</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Salud</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Educación</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Salud</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Educación</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Política</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Salud</a>
            </li>
            <li class="modal-box__list__item">
                <a href="#" title="title">Derechos humanos</a>
            </li>
            
        </ul>
    </div>
</section>