html {
    -webkit-text-size-adjust: 100%;
}

body {
	margin: 0px;
	background: #f3f3f3;
	font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	margin-left: 5px;
	margin-right: 5px;
}

p {
	color: rgb(85, 85, 85);
	font-size: 14px;
  	line-height: 21px;
}

.hide-desktop {
	display: none;
}

svg {
	display: none;
}

.node circle, .node-mary circle {
	fill: #fff;
	stroke: transparent;
	stroke-width: 2px;
	cursor: pointer;
}

/*.node circle:hover, .node-mary circle:hover {
	fill-opacity: 1;
}
*/
.node text, .node-mary text {
	font: 12px Helvetica, arial, sans-serif;
	color: rgb(85, 85, 85);
}

.node-top {
	display: none;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.circle-mary {
	font-weight: bold !important;
	font-size: 15px !important;
}

.background {
	fill: #FFF;
}

.d3-tip {
	max-width: 50%;
	line-height: 1;
  	font-size: 14px;
  	padding: 1.5rem 1rem;
  	background: #092334;
  	color: #fff;
	display: flex;
	flex-direction: column;
}

.d3-tip .exit {
	float: right;
  	margin-top: -5px;
  	color: #ccc;
  	font-size: 20px;
  	padding: 0 5px 0 10px;
  	pointer-events: auto;
}

.d3-tip h3 {
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: 16px;
}

.d3-tip h4 {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	margin: 8px 0 0;
	font-weight: 300;
}

.d3-tip .tip-role {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 8px 0 0;
}

@media(max-width: 800px) {
	.d3-tip {
		max-width: 50%;
	}
}

@media(max-width: 700px) {
	.hide-700 {
		display: none;
	}

	.show-700 {
		display: block;
	}
}

@media(max-width: 650px) {
	.hide-650 {
		display: none;
	}

	.show-650 {
		display: block;
	}
}